entrypoint = "index.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["npm", "run", "preview"]
deploymentTarget = "autoscale"
ignorePorts = false
build = ["npm", "run", "build"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Astro Dev Server"

[[workflows.workflow]]
name = "Astro Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd teal-tower && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 33929
externalPort = 5000

[[ports]]
localPort = 39299
externalPort = 3000

[[ports]]
localPort = 39517
externalPort = 3003

[[ports]]
localPort = 40905
externalPort = 4200

[[ports]]
localPort = 46581
externalPort = 3002
